<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BSDRate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add writeLogStoredProcName="WriteLog" writeStackStoredProcName="InsertSErrorLogStack" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Treasury.Logging.SLogTraceListener, TreasuryLog, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Treasury Trace Listener" initializeData="" />
      <add writeLogStoredProcName="WriteTaskLog" writeStackStoredProcName="InsertSErrorLogStack" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Treasury.Logging.SLogTraceListener, TreasuryLog, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Treasury Task Trace Listener" initializeData="" />
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Treasury Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Treasury Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Treasury Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Connection">
        <listeners>
          <add name="Treasury Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Tasks">
        <listeners>
          <add name="Treasury Task Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="Development" connectionString="server=VMBKSA69901MRS,49001;DATABASE=BSDRate;User=BSDRateUser;Password=hiFIsXsSh7d0;persist security info=false" />
    <add name="IT" connectionString="c" />
	<add name="ReportCopyAppID" connectionString="user id=TrsBSDRateRptAppDev;Password={l2DBDp1JRbM" />
  </connectionStrings>
  <applicationSettings>
    <BSDRate.My.MySettings>
      <!-- ***** This is the line you want to change ******-->
      <setting name="Environment" serializeAs="String">
        <value>IT</value>
      </setting>

      <setting name="UsersTable" serializeAs="String">
        <value>tblUsers</value>
      </setting>
      <!-- ***** This setting and value is ignored if the environment is not set to 'ITSettings' or 'DevelopmentSettings' 
                  Value must be saved without quotation marks. This setting and value should be deleted prior to release.-->
      <setting name="ConnectionOverride" serializeAs="String">


		  <value>server=VMBKSA69901MRT,49001;DATABASE=BSDRate;User=BSDRateUser;Password=hiFIsXsSh7d0;persist security info=false</value>
      </setting>

      <setting name="buildnumber" serializeAs="String">
        <value>1.2.2+20250204</value>
      </setting>

      <!-- TPP-0001 detolle - Environment-specific TreeView background colors (excluding Production) -->
      <!-- Supports named colors (e.g., "LightBlue") or RGB format (e.g., "183,183,255") -->
      <setting name="DevEnvironmentColor" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="ITEnvironmentColor" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="UATEnvironmentColor" serializeAs="String">
        <value>183,183,255</value>
      </setting>
      <setting name="ParallelEnvironmentColor" serializeAs="String">
        <value>Orange</value>
      </setting>

    </BSDRate.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <configProtectedData>
    <providers>
      <add name="3159BSDRateConfigProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="3159BSDRateKey" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
