USE [CPMS]
GO

ALTER PROCEDURE [dbo].[ReportLetterOfCreditCollateral] 
 --(@SelReport  varchar(100) = Null,
 -- @EffDt  datetime = NULL,
 -- @ID  int = NULL,		-- Generic table primary key 
 -- @iParam1  int = NULL	)	-- Generic integer parameter  
AS
/****************************************
SP Description:


Used By:
CPMS Report Letter Of Credit Collateral. 
Also used by SSISLoadLOCCollateralData stored procedure created in TPP-9516 for 2052a file

Created by:RKA
Created when:3/11/2008

Modifications:

Date		By			Reason/What changed
--------	---------	-------------------
03/11/2010	Joel Munt	Added SET NOCOUNT ON;
						This is for move to SQL Server 2008
03/25/2010	TMK			Removed input parameters since they are not used on the report
05/24/2010	D.Weeks		Add LOC records that have no customer accounts assigned to them.
04/26/2018	S.Sadiq		modified to include balances from tblEnteredBalance using tblPldgCdDepBal as a setup table 
						(only pledgecodes in this table will have values from tblEnteredBalance pulled into this report)
10/16/2018	S.Sadiq		modify to use the new LOC calculation for the DB82, adding a new union to pull in the Collateral Required 
						and UnderCollateralized to use the following view vwTennRequiredCollateral_PrevMth
01/30/26	T.Glistvain	No updates to stored proc but updated Used By description statement.  
*****************************************/
SET NOCOUNT ON;

Select 
	B.PldgCd, 
	B.MEBal_CK as CurrentCKBal,
	B.MEBal_Sv as CurrentSVBal, 
	B.UnInsBal,
	B.UninsBal * P.ReqPldgLofC as CollateralRequired,
	(Select IsNull(Sum(Amount),0) from tblLetterOfCredit L, CPMSStat 
		Where Status = 'Active' and CurrDt between IssueDate and MaturityDate and L.PldgCd = B.PldgCd) 
		as LetterOfCredit,
-- LetterOfCredit - CollateralRequired --> (UnderCollaterized)
	(Select ISNULL(Sum(Amount),0) from tblLetterOfCredit L, CPMSStat 
		Where Status = 'Active' and CurrDt between IssueDate and MaturityDate and L.PldgCd = B.PldgCd) 
		- (B.UninsBal * P.ReqPldgLofC) 
		as UnderCollaterized
FROM vwPldgCdBal B
INNER JOIN tblPldgPool P on B.PldgCd = P.PldgCd
Where LofC = 1
and B.pldgcd <> 'DB82' 
UNION

--  Add in LOC records that are not tied to checking or savings accounts

SELECT L.PldgCd,0.0 as CurrentCkBal,
0.0 as CurrentSvBal, 
0.0 as UnInsBal,
0.0 as CollateralRequired,
ISNULL(SUM(L.Amount),0) as LetterOfCredit,
ISNULL(SUM(L.Amount),0) as UnderCollaterized
	From tblLetterOfCredit L

Join CPMSStat S On L.IssueDate <= S.CurrDt and L.MaturityDate >= S.CurrDt
LEFT OUTER JOIN vwPldgCdBal B on L.PldgCd=B.PldgCd
where L.Status='Active' and NOT L.PldgCd  in (select B.PldgCd FROM vwPldgCdBal B
INNER JOIN tblPldgPool P on B.PldgCd = P.PldgCd
Where LofC = 1 ) and L.pldgcd not in (select pldgcd from tblPldgCdDepBal)
group by L.PldgCd

union
-- Modified to add a new union for pledgecodes that use the tblEnteredBalance - maintained by setup tblPldgCdDepBal
SELECT L.PldgCd,0.0 as CurrentCkBal,
0.0 as CurrentSvBal, 
0.0 as UnInsBal,
e.DepositBalance as CollateralRequired,
ISNULL(SUM(L.Amount),0) as LetterOfCredit,
ISNULL(SUM(L.Amount)- e.depositbalance,0) as UnderCollaterized
	From tblEnteredBalance E, tblLetterOfCredit L
Join CPMSStat S On L.IssueDate <= S.CurrDt and L.MaturityDate >= S.CurrDt
LEFT OUTER JOIN vwPldgCdBal B on L.PldgCd=B.PldgCd

where L.Status='Active' and NOT L.PldgCd  in (select B.PldgCd FROM vwPldgCdBal B INNER JOIN tblPldgPool P on B.PldgCd = P.PldgCd Where LofC = 1 ) 
and L.pldgcd in (select pldgcd from tblPldgCdDepBal)
and E.PldgCd = L.PldgCd
and e.AsOfDate = (Select max(e_s.AsOfDate) from tblEnteredBalance e_s where e.PldgCd = e_s.PldgCd and e_s.AsOfDate <= GeTDATE())
group by L.PldgCd, e.DepositBalance
union
Select 
	B.PldgCd, 
	B.MEBal_CK as CurrentCKBal,
	B.MEBal_Sv as CurrentSVBal, 
	B.UnInsBal,
	(select ROUND(CalculatedRequiredCollateral,-3) from vwTennRequiredCollateral_PrevMth) as CollateralRequired, --- for DB82 for tenn needs calculated required collateral from the view
	(Select IsNull(Sum(Amount),0) from tblLetterOfCredit L, CPMSStat 
		Where Status = 'Active' and CurrDt between IssueDate and MaturityDate and L.PldgCd = B.PldgCd) 
		as LetterOfCredit,
-- LetterOfCredit - CollateralRequired --> (UnderCollaterized)
	(Select ISNULL(Sum(Amount),0) from tblLetterOfCredit L, CPMSStat 
		Where Status = 'Active' and CurrDt between IssueDate and MaturityDate and L.PldgCd = B.PldgCd) 
		 -(Select ROUND(CalculatedRequiredCollateral,-3) from 
			vwTennRequiredCollateral_PrevMth )
		as UnderCollaterized
FROM vwPldgCdBal B
INNER JOIN tblPldgPool P on B.PldgCd = P.PldgCd
Where LofC = 1
and B.pldgcd = 'DB82'
